@import "tailwindcss";
/* 크롬, 사파리, 앱 스타일 브라우저에서 스크롤바 숨기기 */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* 파이어폭스, IE 등 다른 브라우저 대응 */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}